:root {
  --primary-color: #007BFF; /* quineBlue */
  --text-color: #212529;
  --secondary-background: #fff; /* Light grey */
  
  --focus-shadow-color: rgba(0, 123, 255, 0.5);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--secondary-background);
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h2 {
  font-weight: 700;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--focus-shadow-color);
}